.quiz__container,
.quiz__result,
.quiz__presentation {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
}

.quiz__presentation {
  align-items: center;
}

.quiz__cover {
  margin: 0 auto;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.quiz__questionRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.quiz__questionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.quiz__questionContainer img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.quiz__timerContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  min-height: 90px;
  border-radius: 8px;
}

.quiz__timer {
  width: 100px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background-color: #ccc;
}

.quiz__timerNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 999px;

  background-color: #f5f5f5;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: 600;
  color: rgb(100, 100, 255, 0.8);
}

.quiz__answerContainer {
  display: grid;
  flex-direction: column;
  gap: 8px;
}

.quiz__answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  min-height: 40px;
  padding: 8px 16px;

  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #ddd;

  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  color: #666;

  transition: all 0.1s ease;
}

.quiz__answer * {
  cursor: pointer;
}

.quiz__answer img {
  width: 100px;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;

  margin-left: -8px;
}

.quiz__answer:hover {
  background-color: #e8e8e8;
}

.quiz__answerCheck {
  display: flex;
  align-items: center;
  justify-content: center;

  justify-self: flex-end !important;

  width: 20px;
  height: 20px;
}

.quiz__answerCorrect {
  border: 1px solid rgba(54, 146, 41, 0.3) !important;
  pointer-events: none;
}

.quiz__answerWrong {
  border: 1px solid rgba(221, 16, 40, 0.2) !important;
  pointer-events: none;
}

.quiz__controls {
  width: 100%;
  margin-top: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.quiz__progress {
  font-size: 14px;
  font-weight: 600;
  color: #888;
}

.quiz__prev,
.quiz__next,
.quiz__skip,
.quiz__startButton {
  width: 100px;
  height: 40px;

  background: none;
  border-radius: 8px;
  border: 1px solid #e2e2e2;

  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
  color: #888;

  transition: all 0.1s ease;
}

.quiz__prev:hover,
.quiz__next:hover,
.quiz__skip:hover,
.quiz__startButton:hover {
  background-color: #e2e2e2;
}

.quiz__skip {
  border-color: rgb(250, 220, 0);
  color: rgb(230, 180, 0);
}

.quiz__skip:hover {
  background-color: rgba(250, 220, 0, 0.2);
}

.quiz__result {
  color: #888;
  font-size: 16px;
  font-weight: 400;
}

.quiz__resultCounter {
  font-size: 48px;
  font-weight: 600;
  color: #888;

  width: 100%;
  text-align: center;
}

.quiz__resultButton {
  width: 150px;
  height: 40px;

  background: none;
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
  color: #888;

  transition: all 0.1s ease;
}

.quiz__resultButton:hover {
  background-color: #e2e2e2;
}
