:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-color: 50, 50, 50;
  --foreground-color: 245, 245, 245;
}

* {
  box-sizing: border-box;
  cursor: default;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--font-color));
  background: rgb(220,220,220);
}

a {
  color: inherit;
  text-decoration: none;
}

.body {
  display: flex;
  position: fixed;
}

.main {
  width: 100%;
  height: 100dvh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 32px;

  background-color: rgb(var(--foreground-color));

  resize: horizontal;

  overflow-y: scroll;
}
